.cart {
  width: 1280px;
  margin: 0 auto;
  padding: 50px 0 100px;

  .tit_cart {
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    color: #222;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
  }
}
