/* 컴포넌트로 뺼 예정 */
.item_choice {
  display: block;
  position: relative;

  .inp_check {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0 none;
    background: none;
    -webkit-appearance: none;
    opacity: 0.01;
  }

  .ico_check {
    width: 20px;
    height: 20px;
    background-position: -100px -60px;
  }

  .inp_check:checked + .lab_check .ico_check {
    background-position: -100px -90px;
  }
}
