.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 120px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;

  .tit_logo {
    float: left;

    .img_g {
      height: 45px;
    }
  }

  .form_search {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 90px;
    margin-left: 30px;
    background-color: #222;
    vertical-align: middle;
    transition: all 0.3s;

    .inp_search {
      width: 250px;
      height: 90px;
      padding: 20px 60px 20px 30px;
      background-color: transparent;
      border-color: transparent;
      box-sizing: border-box;
    }

    .inp_search::placeholder,
    .inp_search::-webkit-placeholder,
    .inp_search::-ms-placeholder {
      color: #f2f2f2;
      font-size: 15px;
      line-height: 20px;
    }

    .btn_search {
      position: absolute;
      right: 0;
      top: 10px;
      color: #f2f2f2;
      transition: all 0.3s;
    }
  }

  &.fixed .wrap_submenu {
    top: 90px;
  }

  &.fixed .form_search {
    width: 90px;
  }

  &.fixed .inp_search {
    display: none;
  }

  &.fixed .btn_search {
    right: 10px;
  }
}
