.header {
  display: flex;
  z-index: 10;
  position: sticky;
  top: 0;
  height: 90px;
  padding: 0 120px;
  align-items: center;
  background-color: #fff;

  .tit_logo {
    float: left;

    .img_g {
      height: 45px;
    }
  }

  .list_menu {
    display: flex;
    padding-left: 30px;

    .link_menu {
      display: block;
      position: relative;
      padding: 0 15px;
      font-weight: 500;
      color: #000;
      font-size: 14px;
      line-height: 90px;
      text-decoration: none;
    }

    .link_menu::after {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0px;
      width: 0;
      height: 3px;
      background-color: #fc0;
      transition: all 0.3s;
      content: '';
    }
    li:hover .link_menu::after {
      left: 0;
      right: 0;
      width: 100%;
    }

    .wrap_submenu {
      display: none;
      position: fixed;
      top: 160px;
      left: 0;
      right: 0;
      z-index: 10;
      min-width: 1440px;
      padding: 30px 0 26px 175px;
      border: 1px solid #f2f2f2;
      background-color: #fff;
      color: #000;
    }

    li:hover .wrap_submenu {
      display: block;
    }

    .list_submenu {
      display: inline-block;
      padding: 0 20px;
      vertical-align: top;
    }

    .list_submenu dt {
      position: relative;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 13px;
      color: #000;
      letter-spacing: 0.025em;
    }

    .list_submenu dt::after {
      position: absolute;
      right: -5px;
      top: 11px;
      width: 4px;
      height: 4px;
      border-top: 2px solid #999;
      border-right: 2px solid #999;
      transition: all 0.3s;
      transform: rotate(45deg);
      content: '';
    }

    .wrap_submenu dl:hover dt::after {
      right: -2px;
    }

    .list_submenu dd {
      font-size: 13px;
      color: #222;
    }

    .list_submenu .link_submenu {
      display: block;
      padding: 4px 10px;
      line-height: 20px;
    }

    .list_submenu .link_submenu:hover {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .util_menu {
    margin-left: auto;

    .link_util {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }

    .ico_shop {
      width: 40px;
      height: 40px;
    }

    .ico_cart {
      background-position-x: -100px;
    }

    .ico_wish {
      background-position-x: -150px;
    }

    .ico_search {
      margin: 13px;
      background-position-x: -200px;
    }
    .type_cart {
      position: relative;
    }

    .num_util {
      position: absolute;
      top: 5px;
      left: 22px;
      min-width: 20px;
      padding: 0 5px;
      border-radius: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 10px;
      line-height: 20px;
      color: #000;
      background-color: #fc0;
      box-sizing: border-box;
    }
  }

  .form_search {
    display: inline-block;
    position: relative;
    width: 250px;
    margin-left: 30px;
    height: 90px;
    background-color: #222;
    vertical-align: middle;
    transition: all 0.3s;

    .inp_search {
      width: 250px;
      height: 90px;
      padding: 20px 60px 20px 30px;
      border-color: transparent;
      background-color: transparent;
      box-sizing: border-box;
    }

    .inp_search::placeholder,
    .inp_search::-webkit-placeholder,
    .inp_search::-ms-placeholder {
      font-size: 15px;
      line-height: 20px;
      color: #f2f2f2;
    }

    .btn_search {
      position: absolute;
      right: 0;
      top: 10px;
      color: #f2f2f2;
      transition: all 0.3s;
    }
  }

  &.fixed .wrap_submenu {
    top: 90px;
  }

  &.fixed .form_search {
    width: 90px;
  }

  &.fixed .inp_search {
    display: none;
  }

  &.fixed .btn_search {
    right: 10px;
  }
}
