@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

html,
body {
  min-width: 1440px;
  min-height: 100%;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */

.show {
  display: block;
}

.hide {
  display: none;
}

.img_g {
  display: block;
  width: 100%;
}

svg {
  display: block;
}
.ico_shop {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background: url(../../public/images/Common/ico_shop.svg) no-repeat;
  text-indent: -9999px;
  vertical-align: top;
}
