.footer {
  background-color: #222;
  .inner_footer {
    display: flex;
    width: 1440px;
    padding: 50px 0;
    margin: 0 auto;
  }
  .list_info {
    width: 705px;
    margin-left: -10px;
  }
  .list_info li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    vertical-align: top;
    color: #888;
    line-height: 25px;
    font-size: 13px;
  }
  .list_info li::after {
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    width: 1px;
    background-color: #888;
    content: '';
  }
  .list_info li:last-child::after {
    content: none;
  }
  .txt_copy {
    padding-top: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #888;
  }
}
