.detail {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .product_img_list {
    display: flex;
    flex-direction: column;
    margin-right: 60px;

    .product_img {
      margin: 10px;
      width: 550px;
    }
  }

  .product_detail_option {
    position: sticky;
    top: 40px;
    width: 520px;

    .icon {
      display: flex;
      align-items: center;
    }

    .ico_sharing {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      background-position: 0 -70px;
    }

    .ico_like {
      width: 40px;
      height: 40px;
      background-position: -150px 0;
    }

    .product_name {
      display: block;
      margin-bottom: 60px;
      font-size: 30px;
    }
    .product_size {
      padding-top: 50px;
      border-top: 1px #ddd solid;

      .product_size_button {
        width: 168px;
        height: 36px;
        margin: 2px;
        padding-left: 5px;
        border: 1px #666 solid;
      }

      .product_size_button.check {
        width: 168px;
        height: 36px;
        margin: 2px;
        padding-left: 5px;
        border: 1px #666 solid;
        background-color: #333;
        color: #fff;
      }
    }

    .select_product.color {
      width: 60px;
      height: 60px;
      border: 3px solid #333;
      border-radius: 50%;
      margin: 20px 10px 0 0;
    }

    .select_product {
      width: 60px;
      height: 60px;

      border-radius: 50%;
      margin: 20px 10px 0 0;
    }

    .product_count {
      display: flex;
      align-items: baseline;
      width: 520px;
      height: 45px;
      border-bottom: 1px #ddd solid;
      padding-bottom: 30px;
      margin-bottom: 20px;

      .product_amount {
        margin: 0 20px;
        font-size: 25px;
      }

      .product_minus {
        width: 45px;
        height: 45px;
        font-size: 45px;
      }

      .product_plus {
        width: 45px;
        height: 45px;
        font-size: 45px;
      }

      .product_price {
        font-size: 30px;
      }
    }

    .button_list {
      display: flex;
      width: 100%;
      height: 60px;

      .cart {
        width: 50%;
        height: 100%;
        margin: 10px;
        background-color: #fddb01;
        font-weight: bold;
        font-size: 25px;
      }

      .buy {
        width: 50%;
        height: 100%;
        margin: 10px;
        background-color: #333;
        color: #fddb01;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
  .detail_navigate {
    position: fixed;
    right: 10%;
    top: 30%;

    .link_navigate {
      display: block;
      margin-bottom: 30px;
      font-weight: bold;
      display: block;

      .link_navigate_ko {
        display: block;
      }
    }
  }
}
#review {
  width: 50%;
  margin: auto;

  .review {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    margin: 100px;
    border-bottom: 1px solid #ddd;
  }

  .photo_review {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin: 100px;
  }

  .photo_flex {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;

    .photo_review_list {
      width: 300px;
      height: 300px;
    }

    .modal_photo_review {
      width: 300px;
      margin: 10px;
    }
  }
}
