.modal_to_cart::after {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_box {
  width: 600px;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border: 1px solid #333;

  .close_button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
  }
  .order_title {
    height: 5%;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
  }

  .order_info {
    display: flex;
    align-items: center;
    margin: auto 0;
    padding-bottom: 20px;
  }

  .order_product_img {
    margin-left: 20px;
    width: 260px;
  }

  .order_product_img.none {
    display: none;
  }

  .order_info_detail {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;

    .order_info_name {
      font-size: 30px;
      margin-bottom: 50px;
    }

    .order_info_quantity,
    .order_info_color,
    .order_info_price {
      margin: 30px 0;
    }
  }

  .shopping_basket_button {
    width: 50%;
    height: 50px;
    border-top: 1px solid #333;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
  }

  .shopping_button {
    width: 50%;
    height: 50px;
    background-color: #333;
    color: #fff;
    border-top: #333 1px solid;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: bold;
  }
}
