.list_cart {
  min-height: 205px;
  margin-top: 20px;
  padding: 0px 40px 10px 25px;
  border: 1px solid #dedede;
  overflow: hidden;

  li {
    position: relative;
    display: flex;
    padding: 40px 0;
  }

  li + li {
    border-top: 1px solid #dedede;
  }

  .item_choice {
    display: flex;
    align-items: center;
  }

  .item_thumb {
    position: relative;
    width: 100px;
    min-height: 126px;
    margin-left: 25px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding-top: -webkit-calc(100% + 24px);
      padding-top: -moz-calc(100% + 24px);
      padding-top: calc(100% + 24px);
      border: 1px solid #dedede;
      box-sizing: border-box;
      content: '';
    }
  }

  .item_info {
    display: block;
    padding: 10px 0 0 25px;
    overflow: hidden;
  }

  .tit_name {
    display: block;
    display: -webkit-box;
    max-height: 40px;
    font-weight: bold;
    max-width: 400px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  .txt_opt {
    display: block;
    padding-top: 10px;
    color: #888;
    font-size: 14px;
    line-height: 20px;
  }

  .num_count {
    display: block;
    padding-top: 5px;
    color: #888;
    font-size: 14px;
    line-height: 20px;
  }

  .item_order {
    position: absolute;
    right: 0;
    top: 30px;

    .item_count {
      display: block;
      text-align: right;
    }

    .emph_price {
      display: block;
      padding-bottom: 15px;
      color: #222;
      text-align: right;
      font-size: 18px;
      line-height: 25px;
    }

    .ico_shop {
      width: 36px;
      height: 36px;
      background-position: -160px -90px;
    }

    .ico_plus {
      background-position-y: -140px;
    }

    .inp_count {
      width: 36px;
      height: 36px;
      border: 0;
      color: #222;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      font-size: 14px;
      text-align: center;
      box-sizing: border-box;
    }

    .btn_opt {
      display: block;
      padding: 7px 5px;
      color: #888;
      font-size: 15px;
      line-height: 25px;
      margin-left: auto;
      text-decoration: underline;
    }
  }

  .btn_delete {
    position: absolute;
    right: 0;
    bottom: 30px;
    padding: 5px 15px;
    color: #222;
    border: 1px solid #dedede;
    font-size: 14px;
  }

  .ico_delete {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-position: -170px -190px;
  }
}
