.list_products {
  width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 0;

  li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }

  .link_products {
    position: relative;
    display: block;
  }

  .link_products::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-out;
    content: '';
  }

  li:hover .link_products::after {
    border: 2px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }

  .link_products .img_g {
    height: 450px;
    object-fit: cover;
  }

  .txt_name {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 14px;
  }
}
